#imgContainer {
    width: 100%;
    height: calc(100vh - 56px);
    margin: auto;
    overflow: auto;
    position: relative;
    background-image: url('./backgroundImage.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
  
}


#imgContainer #title {
    color: white;
    font-size: calc((5vw + 5vh) / 2);
    margin-bottom: 2%;
    margin-top: -15%;
    
    
}

#imgContainer #description {
    color: white;
    font-size: calc((3vw + 3vh) / 2);
    margin-bottom: 2%;
}

#imgContainer .btn {
    font-size: calc((1.5vw + 1.5vh) / 2);
    background-color: #40535A;
    color: white;
    border: calc((0.25vw + 0.25vh) / 2) solid #ffffff;
    padding-right: calc((3vw + 3vh) / 2);
    padding-left: calc((3vw + 3vh) / 2);
    padding-top: calc((1vw + 1vh) / 2);
    padding-bottom: calc((1vw + 1vh) / 2);
}

#imgContainer div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


