.Feedback {
    height: auto;
    background-color: #A88768;
    position: relative;
    display: table;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

.Feedback form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#formSecondRow {
    display: table;
    width: 100%;
}

#formSecondRow div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.labels {
    color: #40535A;
    font-size: calc((2vw + 2vh) / 2);
}
#formHeader {
    color: #40535A;
    font-size: calc((3vw + 3vh) / 2);
}

#formSecondRow textarea {
    height: calc((25vw + 25vh) / 2);
}

#submitBtn {
    margin-top: 6%;
    padding-right: calc((4vw + 4vh) / 2);
    padding-left: calc((4vw + 4vh) / 2);
    padding-top: calc((1vw + 1vh) / 2);
    padding-bottom: calc((1vw + 1vh) / 2);
    background-color: #40535A;
    border: calc((0.25vw + 0.25vh) / 2) solid #ffffff;
    color: white;
    font-size: calc((1.5vw + 1.5vh) / 2);
}

.inputs {
    height: calc((4vw + 4vh) / 2);
}

#emailAid {
    font-size: calc((40vw + 40vh) / 2)!important;

}


/* Overriding styles */

::-webkit-input-placeholder {
    font-size: calc((1.3vw + 1.3vh) / 2)!important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: calc((1.3vw + 1.3vh) / 2)!important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: calc((1.3vw + 1.3vh) / 2)!important;
 }


