.About {
    background-color: #626B76;
    position: relative;
}

#aboutMe {
    color: white;
    text-align: center;
    display: table;
    width: 100%;
    padding: 3%;
}

.centeredText {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15%;
    padding-left: 15%;
    font-size: 150%;
}

.centeredText h2 {
    font-size: calc((3vw + 3vh) / 2);
}

.centeredText p {
    text-align: left;
    font-size: calc((2vw + 2vh) / 2);
}

.centeredText h4 {
    font-size: calc((2.5vw + 2.5vh) / 2);
}

.socialIcons {
    width: 5.5vmin;
    height: 4vmax;
}

