#imgContainer {
    width: 100%;
    height: 900px;
    margin: auto;
    overflow: auto;
    position: relative;
    background-image: url('./backgroundImage.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
  
}


#imgContainer #title {
    color: white;
    font-size: 350%;
    margin-bottom: 2%;
    margin-top: -15%;
    
    
}

#imgContainer #description {
    color: white;
    font-size: 250%;
    margin-bottom: 2%;
}

#imgContainer .btn {
    font-size: 150%;
    background-color: #40535A;
    color: white;
    border: 3px solid white;
}

#imgContainer div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

@media screen and (min-width:400px) and (max-width:500px) {
    #imgContainer #title {
        font-size: 275%;
    }
    #imgContainer #description {
        font-size: 180%;
    }
    #imgContainer .btn {
        font-size: 100%;
    }
}

@media screen and (max-width:399px) {
    #imgContainer #title {
        font-size: 230%;
        margin-top: -70%;
        margin-bottom: 5%;
    }
    #imgContainer #description {
        font-size: 150%;
        margin-bottom: 7%;
    }
    #imgContainer .btn {
        font-size: 75%;
    }
}
