#imgContainer {
    width: 100%;
    height: 900px;
    margin: auto;
    overflow: auto;
    position: relative;
    background-image: url('./backgroundImage.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}


#imgContainer .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    
    
}

#imgContainer #title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 400%;
    color: white;
    width: 100%;
    
}

#imgContainer #description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 225%;
    color: white;
    width: 100%;
    
}


@media screen and (min-width: 360px) and (max-width: 550px) {
    #imgContainer #title {
        font-size: 250%;
       
    }

    #imgContainer #description {
        font-size: 210%;
    }
}

@media screen and (max-width: 359px) {
    #imgContainer #title {
        font-size: 200%;
    }

    #imgContainer #description {
        font-size: 170%;
    }
}