.gameplayContainer {
    background-color: #40535A;
    height: auto;
   
    position: relative;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 10px;
    padding: 2%;
}

.gameplayContainer #rulesTitle {
    color: white;
    font-size: 300%;
}

.gameplayContainer #rulesDescription1 {
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    
}
@media screen and (max-width: 500px) {
    .gameplayContainer #rulesTitle {
        font-size: 250%;
    }
}






