.gameplayContainer {
    background-color: #40535A;
    height: auto;
   
    position: relative;
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 10px;
}

.gameplayContainer #rulesTitle {
    color: white;
    font-size: 300%;
}

.gameplayContainer #rulesDescription1 {
    color: white;
    
}






